

    <div class="col-md-1" style="position: absolute;
    margin-top: -41px;
    right: 52px;">
        <div ngbDropdown *ngIf="(userCanDeleteElements || userCanEditElement)" class="d-inline-block d-flex custom-class justify-content-end">
          <div  ngbDropdown class="d-inline-block custom-class">
            <button style="margin-left: 47px;
            position: absolute;
            margin-top: -18px;" type="button" class="btn btn-outline-secondary menu-btn" style="background-color: #fff;" ngbDropdownToggle><i i-bs
                name="three-dots-vertical"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <button  *ngIf="userCanEditElement"  (click)="editHeirarchyItem()" ngbDropdownItem ><i i-bs
                name="pen"></i>&nbsp;Edit</button>
            <button *ngIf="userCanDeleteElements" (click)="opendeleteModal(deleteRecords)"  ngbDropdownItem><i i-bs name="trash"></i>&nbsp;Delete</button>
            </div>
          </div>
        </div>
    </div>
 

<app-heirarchy-info-detail [heirarchyId]="heirarchyId" [isEditing]="false" [currentView]="currentView"></app-heirarchy-info-detail>

<ng-template #deleteRecords let-modal>

  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="delete-cross" (click)="modal.dismiss('Cross click')">
          <i-bs name="x-circle"></i-bs>
      </button>
  </div>
  <div class="modal-body">
      <div class="d-flex justify-content-center">
          <i-bs name="exclamation-triangle" class="exclamation" width="75" height="75">
          </i-bs>
      </div>
      <div class="d-flex justify-content-center sure-div">
          <p>Are you sure you want to delete this Hierarchy ?</p>
      </div>
      <div class="d-flex justify-content-center">
          <h4 class="name">
              <span>{{hierarchyName}}</span> 
          </h4>
      </div>
      <div class="justify-content-center warning-div">
          <p>This Operation cannot be undone</p>
          <div class="warning-box">
              <div>
                  <p>
                      <i-bs name="arrow-right-short"></i-bs>This Hierarchy page will be permanently deleted
                  </p>
                  <p>
                      <i-bs name="arrow-right-short"></i-bs>All data associated will be deleted
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer two-btn-modal-footer">
      <button class="btn-height-width cancel-button-color" (click)="modal.dismiss('Cross click')">Cancel</button>
      <button type="button" class="btn-height-width delete-button-color" (click)="DeleteHeirarchy()">Yes,
          Delete</button>
  </div>
</ng-template>

