.menu-btn{
    width: 33px;
    height: 33px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 0;
    margin-right: -30px;
      margin-top: 24px;
  }
  .menu-btn :hover{
    background-color: #fff;
    color: var(--bs-btn-color) !important;
  }
  .dropdown-item i {
    margin-right: 3px;
  }
  .dropdown-toggle::after {
    display: none;
  }
.modal-header{
  border-bottom: none;
  height: 40px;
}
.delete-cross{
  border: none;
  background: transparent;
  color: #1D1D1D;
}
.modal-body{
  padding: 0;
}
.sure-div{
  text-align: left;
  font: normal normal normal 16px/45px Readex Pro;
  letter-spacing: 0px;
  color: #1D1D1D;
  opacity: 1;
  margin-top:5px;
  height: 45px;
}
.warning-div{
  display: block;
  margin-left: 47px;
  margin-top: 30px;
}
.warning-div p{
  text-align: left;
  font: normal normal normal 14px/18px Readex Pro;
  letter-spacing: 0px;
  color: #484848;
  opacity: 1;
}
.warning-box{
  background: #F8F9FD 0% 0% no-repeat padding-box;
  border: 1px solid #DDE1E5;
  opacity: 1;
  width: 372px;
  height: 96px;
  padding-top: 20px;
  padding-left: 5px;
}
.warning-box p{
  text-align: left;
  font: normal normal normal 12px/13px Readex Pro;
  letter-spacing: 0px;
  color: #1D1D1D;
  opacity: 1;
}
.modal-footer{
  border-top: none;
  justify-content: center;
}
.name{
  text-align: left;
  font: normal normal bold 19px/12px Readex Pro;
  letter-spacing: 0.16px;
  color: #2F4E6D;
  opacity: 1;
}
.exclamation{
  color: #CC3F3F;;
}
.btn-height-width {
  width: 210px;
  height: 30px;
  font: normal normal 599 14px/18px Readex Pro;
  letter-spacing: 0px;
  border: 1px solid #484848;
  border-radius: 4px;
}
.delete-button-color{
  background: #2F4E6D;
  color: #FFFFFF;
} 